{% extends 'base.html' %} {% block content%}

<h1>Manager</h1>

<div style="display: flex; flex-direction: row; flex-wrap: wrap">
    {% for local in store %}
        
        <div class="card border-dark mb-3" style="max-width: 18rem; margin: 0.5%">
            <div class="card-header">{{local.name}}</div>
            <div class="card-body text-dark">
            <h5 class="card-title">{{local.name}}</h5>
            <p class="card-text">Manager: {{local.manager}}</p>
            <a href="#" class="btn btn-primary">Ver Estadisticas</a>
            </div>
        </div>
        
{% endfor %}
</div>

{% endblock %}